body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("Images/Home Page/background-image.jpg");
    background-repeat: repeat;
    background-color: #000000;
    margin: auto;
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #66fcf1
}
nav ul{
    background-color: #214947;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav a:visited, nav a:link{
    color: #52c8c2;
    text-decoration: none;
}
#content{
    color: white;
    background-color: #000000;
    margin-left: 100px;
    border-radius: 15px;
    padding: 20px;
}
nav a:hover{
    color: #C5c6c7;
    background-color: #000000;
    box-shadow: 0px 0px 20px 1px #66fcf1;
}
#a{
    padding-left: 25px;
    float: right;
    max-width: 450px;
    max-height: 450px;
    padding-right: 100px;
}
h3{
    font-size: 28px;
    size: 500px;
}
p{
    font-size: 20px;
}
#large{
    display: flex;
}
